*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: hsl(30, 38%, 92%);
    display: grid;
    place-items: center;
    font-weight: 500,700;
    font-family:  "Montserrat", sans-serif;
}

.body-main{
    display: flex;
    padding: 50px;
}

.image-product{
          width: 18rem;
          height: 28rem;
          border-radius: 1rem 0 0 1rem;
}

aside{
    background: hsl(0, 0%, 100%);
    width: 18rem;
    height: 28rem;
    border-radius: 0 1rem 1rem 0;
}

.aside-head{
    margin: 2rem;
}

.aside-head h3{
    color: hsl(228, 12%, 48%);
    font-size: 16px;
}

.aside-head h1{
    font-size: 28px;
    margin-top: 1rem;
    color:  hsl(212, 21%, 14%);
    width: 13rem;
}

.aside-head p{
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    margin-top: 1rem;
    width: 12rem;
    line-height: 1.5rem;
}

.aside-bottom{
    margin: 2rem;
}


.numbers{
    display: flex;
    gap: 1rem;
}
span{
    color: hsl(158, 36%, 37%);
    font-size: 25px;
}

.aside-bottom p{
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    text-decoration: line-through;
    margin-top: 0.5rem;
}

button{
    width: 12rem;
    background: hsl(158, 36%, 37%);
    margin-top: 1rem;
    height: 2.5rem;
    border-radius: 5px;
    place-items: center;
}

button:hover{
    background:  hsl(158, 42%, 18%);
}

.image-button{
    margin-top: 0.5rem;
}

.button{
    display: flex;
    gap: 1rem;
}

.button p{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
                     .body-main{
                        display: grid;
                        grid-template-rows: 30% 70%;
                     }
                    

                     .image-product{
                        border-radius: 1rem 1rem 0 0;
                        width: 20rem;
                     }

                     aside{
                        border-radius: 0 0 1rem 1rem;
                        width: 20rem;
                        height: 25rem;
                     }

                     .aside-head h1{
                        width: 16rem;
                     }

                     .aside-head p{
                        width: 16rem;
                     }

                     button{
                        width: 15rem;
                     }
}